@page "/"
@using ThemingExample.Shared.State
@using ThemingExample.Shared.Theming

<h1>Hello, world!</h1>

Welcome to your new app.
<p>
    Change the theme below to see the Razor components use the new theme as well as the 
    application window's titlebar (when running on Windows 11).
</p>
<div>
    <label>
        Active Theme:
        <select @bind=PreferencesState.ActiveTheme>
            @foreach (var curTheme in Enum.GetValues<ColorTheme>())
            {
                <option value="@curTheme">@curTheme</option>
            }
        </select>
    </label>
    
    <button type="button" class="btn-primary">It's a button</button>
</div>

@code {
    [Inject] private PreferencesState PreferencesState { get; set; } = default!;
}