@page "/page2"

<h3>Page2</h3>
<button type="button" class="btn-primary" @onclick=HandleButtonClicked>It's a button</button>

@code {
    [Inject] private IJSRuntime JsRuntime { get; set; } = default!;

    private async Task HandleButtonClicked()
    {
        await JsRuntime.InvokeVoidAsync("supportFuncs.printA");
    }
}
