/* My Coffee */
body {
    &.theme-boo {
        --page-background-color: var(--boo4);
        --primary-text-color: var(--white);
        --bar-background-color: var(--boo5);
        --bar-text-color: var(--boo1);
        --button-background-color: var(--boo5);
        --button-fore-color: var(--white);
        --sidebar-gradient: linear-gradient(180deg, var(--boo5) 0%, var(--juicyBoo4) 70%);
    }

    &.theme-dark {
        --page-background-color: var(--black);
        --primary-text-color: var(--white);
        --bar-background-color: var(--black);
        --bar-text-color: var(--white);
        --button-background-color: var(--black);
        --button-fore-color: var(--white);
        --sidebar-gradient: linear-gradient(180deg, var(--black) 0%, var(--black) 70%);
    }

    &.theme-ernge {
        --page-background-color: var(--ernge4);
        --primary-text-color: var(--white);
        --bar-background-color: var(--ernge5);
        --bar-text-color: var(--ernge1);
        --button-background-color: var(--ernge5);
        --button-fore-color: var(--white);
        --sidebar-gradient: linear-gradient(180deg, var(--ernge5) 0%, var(--ernge3) 70%);
    }

    &.theme-grain {
        --page-background-color: var(--grain4);
        --primary-text-color: var(--white);
        --bar-background-color: var(--grain5);
        --bar-text-color: var(--grain1);
        --button-background-color: var(--grain5);
        --button-fore-color: var(--white);
        --sidebar-gradient: linear-gradient(180deg, var(--grain5) 0%, var(--grain3) 70%);
    }

    &.theme-kohii {
        --page-background-color: var(--kohii4);
        --primary-text-color: var(--white);
        --bar-background-color: var(--kohii5);
        --bar-text-color: var(--kohii1);
        --button-background-color: var(--kohii5);
        --button-fore-color: var(--white);
        --sidebar-gradient: linear-gradient(180deg, var(--kohii5) 0%, var(--kohii3) 70%);
    }

    &.theme-light {
        --page-background-color: var(--white);
        --primary-text-color: var(--black);
        --bar-background-color: var(--white);
        --bar-text-color: var(--black);
        --button-background-color: var(--boo5);
        --button-fore-color: var(--white);
        --sidebar-gradient: linear-gradient(180deg, var(--white) 0%, var(--black) 70%);
    }
}
